<h1>Channels</h1>

<div class="row" ng-controller="channel-controller">
    <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="x_panel tile fixed_height_320">
                    <div class="x_title">
                      <h2>Channel List</h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                          </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                      <div class="x_content" ng-init="getChannels()">
                      <div class="">
                    <ul class="to_do">
                        <li ng-repeat="channel in allChannels">
                        <p>
                            <input type="checkbox" class="flat" ng-model="channel.selected"> {{channel.name}} </p>
                      </li>
                    </ul>
                  </div>
    
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="x_panel tile fixed_height_320 overflow_hidden">
                    <div class="x_title">
                      <h2>Add Channel</h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                          </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <form class="form-horizontal form-label-left">
                    <div class="col-md-8 col-sm-12 col-xs-12 form-group">
                      <label>Channel Name</label>
                      <input type="text" class="form-control" placeholder="Enter Channel Name" ng-model="name" />
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                      <label>Channel Description</label>
                      <input type="text" class="form-control" placeholder="Enter Channel Description" ng-model="description"/>
                    </div>
                          <!--<div class="clearfix"></div>-->
                    <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                        <button type="submit" class="btn btn-success" ng-click="postChannel()">Add</button>     
                    </div>

                  </form>
                    </div>
                  </div>
                </div>
    
    
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="x_panel tile fixed_height_320">
                    <div class="x_title">
                      <h2>Channel List</h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                          </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div class="dashboard-widget-content">
                        <ul class="quick-list">
                          <li><i class="fa fa-calendar-o"></i><a href="#">Settings</a>
                          </li>
                          <li><i class="fa fa-bars"></i><a href="#">Subscription</a>
                          </li>
                          <li><i class="fa fa-bar-chart"></i><a href="#">Auto Renewal</a> </li>
                          <li><i class="fa fa-line-chart"></i><a href="#">Achievements</a>
                          </li>
                          <li><i class="fa fa-bar-chart"></i><a href="#">Auto Renewal</a> </li>
                          <li><i class="fa fa-line-chart"></i><a href="#">Achievements</a>
                          </li>
                          <li><i class="fa fa-area-chart"></i><a href="#">Logout</a>
                          </li>
                        </ul>
    
                        <div class="sidebar-widget">
                            <h4>Profile Completion</h4>
                            <canvas width="150" height="80" id="chart_gauge_01" class="" style="width: 160px; height: 100px;"></canvas>
                            <div class="goal-wrapper">
                              <span id="gauge-text" class="gauge-value pull-left">3,200</span>
                              <span class="gauge-value pull-left">%</span>
                              <span id="goal-text" class="goal-value pull-right">100%</span>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    
              </div>